{% extends 'base.html' %}

{% block head %}
  <title>cool ass admin panel</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/norm_blog.ico') }}" type="image/x-icon">
{% endblock %}

{% block body %}
<a style="margin: 0;" href="/">home</a>
    <div class="heading">
        <h3 class="blog_heading">Norm's cool ass admin panel</h3>
        <hr>
    </div>

    <div class="blog_page">
        <form action="/admin" method="post">
            <textarea class="write_a_post" id="post-body" name="post-body" placeholder="Write what happened..." required></textarea>
            <input value="title" type="text" id="post-title" name="post-title">
            <input class="post_button" type="submit">
        </form>
    </div>
    
    <br>
    <div class="posts_container">
        <h3 class="recent_h3">Recent posts</h3>
        <hr>
        <br>
        <div class="posts">
            {% for post in posts %}
            <div class="post">
                <div class="post_info">
                    <p class="date">{{ post.date_created.strftime('%B %d, %Y') }}</p> 
                    {% if post.id < 10 %}
                    <p class="post_id">ID: 0{{ post.id }}</p>
                    {% else %}
                    <p class="post_id">ID: {{ post.id }}</p>
                    {% endif %}
                </div><br>
                    <a href="/delete-post/{{ post.id }}">delete</a>
                <div class="title">{{ post.title }}</div><br>
            <div class="content">{{ post.content }}</div>
            </div>
            <hr>
            {% else %}
                <p class="no_posts_p_admin">No posts yet.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}